Repository AlecRust/protected-video: changes, and which lint-staged commands are due for each by the changed paths.
All: wp-scripts format, wp-scripts lint-js --fix --resolve-plugins-relative-to node_modules/@wordpress/eslint-plugin

.lintstagedrc.json:

{
	"*.{js,jsx,json,ts,tsx,yml,yaml}": "wp-scripts format",
	"*.{js,jsx,ts,tsx}": "wp-scripts lint-js --fix --resolve-plugins-relative-to node_modules/@wordpress/eslint-plugin"
}

Update npm dependencies
  grumphp.yml
  package-lock.json
  package.json
Due: wp-scripts format

Simplify linting
  .lintstagedrc.json
  package.json
Due: wp-scripts format

Remove claimed support for Git Updater
  README.md
  protected-video.php
Due: none

Add styles linting
  .lintstagedrc.json
  package.json
  src/demo/style.scss
  src/style.scss
Due: wp-scripts format

Improve handling of non-supported video platform URLs
  src/edit.js
Due: wp-scripts format, wp-scripts lint-js --fix --resolve-plugins-relative-to node_modules/@wordpress/eslint-plugin

Increase PHPStan level 6 -> 8
  includes/class-protected-video-public.php
  phpstan.neon
Due: none

Enable more GrumPHP tasks
  grumphp.yml
Due: wp-scripts format

Add WordPress stubs to vscode settings for PHP Intelephense
  .vscode/settings.json
Due: wp-scripts format

Improve type safety
  includes/class-protected-video-admin.php
  includes/class-protected-video-public.php
  includes/class-protected-video.php
  phpstan.neon
Due: none

Bump release-it version
  package-lock.json
  package.json
Due: wp-scripts format

Release 2.0.2
  .cliff/cliff-readme-txt.toml
  CHANGELOG.md
  package-lock.json
  package.json
  protected-video.php
  readme.txt
  src/block.json
Due: wp-scripts format

Update Plyr version 3.8.3 → 3.8.4
  package-lock.json
  package.json
  src/assets/plyr.svg
  src/view.js
Due: wp-scripts format, wp-scripts lint-js --fix --resolve-plugins-relative-to node_modules/@wordpress/eslint-plugin

Rebuild npm lockfile
  package-lock.json
Due: wp-scripts format

Rebuild composer lockfile
  composer.lock
Due: none

Release 2.0.3
  .cliff/cliff-readme-txt.toml
  CHANGELOG.md
  package-lock.json
  package.json
  protected-video.php
  readme.txt
  src/block.json
Due: wp-scripts format

Only disable right-click on pages with a Protected Video
  includes/class-protected-video-public.php
  includes/class-protected-video.php
  src/view.js
Due: wp-scripts format, wp-scripts lint-js --fix --resolve-plugins-relative-to node_modules/@wordpress/eslint-plugin

Bump safe dependencies
  composer.lock
  package-lock.json
  package.json
Due: wp-scripts format

Bump remaining npm dependencies
  package-lock.json
  package.json
Due: wp-scripts format

Bump packageManager
  package.json
Due: wp-scripts format

Disable wp-env test environment
  .wp-env.json
Due: wp-scripts format

Release 2.0.4
  .cliff/cliff-readme-txt.toml
  CHANGELOG.md
  package-lock.json
  package.json
  protected-video.php
  readme.txt
  src/block.json
Due: wp-scripts format

Update WordPress 'Tested up to' version to 7.0
  .cliff/cliff-readme-txt.toml
Due: none
